<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/resume">Resume</a></li>
	        		<li><a href="/publications">Publications</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jdmitchell5@alaska.edu">email</a></li>
	        		<li><a href="https://jonathanmitchell88.github.io/">jonathanmitchell88.github.io/</a></li>
				</ul>
			</footer>
		</body>
	</html>
  
